body{
    margin: 0;
    font-family: 'Inter', sans-serif;

    font-size: 15px;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.intro {
    width:100%;
    height: 100vh;

    background: ;

}