body{
    margin: 0;
    font-family: 'Inter', sans-serif;

    font-size: 15px;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}

.intro {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    
    background: url(../css/intro.jpg) center no-repeat ;
    -webkit-background-size:cover;
    background-size: cover;

}